<% provide(:title, "About") %>
<p><strong>Version 0.0.1</strong></p>
<p>Features</p>
<ul>
  <li> Static Pages </li>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/static_pages/help">Help</a></li>
    <li>About</li>
  </ul>
</ul>
